{% extends 'main_layout.html' %}

{% block 'content' %}

{% if edit %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Departments</h4>
        <p class="card-description">
          Edit the information in the cells
        </p>
        <form method="post" action="{% url 'department_update' edit.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label>Edit department name</label>
            <input type="text" class="form-control" placeholder="Department name" name="department_name"
              value="{{edit.department_name}}" class="form-control"><br>
            <button type="submit" name="update" class="btn btn-primary me-2 text-white">Update</button>
            <a href="{%url 'departments'%}"><button type="button" class="btn btn-danger text-white">Cancel</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add departments</h4>
        <p class="card-description">
          Fill in the blanks
        </p>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label>Department name</label>
            <input type="text" class="form-control" placeholder="Department name" name="department_name"><br>
            <button type="submit" name="add" class="btn btn-primary me-2 text-white">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div id="data"></div>
<script>
  $(document).on('click', '.delete', function () {
    let id = $(this).attr('id')
    let section = 'departments'

    if (confirm("Do you want to delete?")) {
      $.ajax({
        method: 'GET',
        url: '{% url "loader" %}',
        data: { del_departments: id, section: section, csrfmiddlewaretoken: '{{csrf_token}}' },
        success: function (response) {
          $('#data').html(response)
        }
      })
    }
  })

  $(document).ready(function () {
    let section = 'departments'

    $.ajax({
      type: 'GET',
      url: '{% url "loader" %}',
      data: { section: section },
      dataType: 'html',
      success: function (response) {
        $('#data').html(response)
      }
    })
  })
</script>

{% endblock %}