{% extends 'main_layout.html' %}

{% block 'content' %}

<div id="data"></div>

<script>
  // Insert expenses
  $(document).on('click', '.insert', function () {
    let form = $('#insert_expens')[0]
    let data = new FormData(form)
    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (response) {
        $('#data').html(response)
      }
    })
  })

  // Edit expenses
  $(document).on('click', '.update', function () {
    let form = $('#edit_expenses')[0]
    let data = new FormData(form)
    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (response) {
        $('#data').html(response)
      }
    })
  })

  $(document).on('click', '.edit', function () {
    let id = $(this).attr('id')
    $.ajax({
      method: 'POST',
      url: '{% url "loader" %}',
      data: { 'x': 'expenses', 'edit_id': id, csrfmiddlewaretoken: '{{csrf_token}}' },
      success: function (response) {
        $('#data').html(response)
      }
    })
  })

  // Delete expenses
  $(document).on('click', '.delete', function () {
    let id = $(this).attr('id')
    if (confirm("Do you want to delete?")) {
      $.ajax({
        method: 'POST',
        url: '{% url "loader" %}',
        data: { 'x': 'expenses', 'del_id': id, csrfmiddlewaretoken: '{{csrf_token}}' },
        success: function (response) {
          $('#data').html(response)
        }
      })
    }
  })

  //Delete expenses multi
  $(document).on('clcik', '.delete_all', function () {
    let id = $(this).attr('id')
    if (confirm("Do you want delete selected items?")) {
      $.ajax({
        method: 'POST',
        url: '{% url "loader" %}',
        data: { 'x': 'expenses', 'delete_all': id, csrfmiddlewaretoken: '{{csrf_token}}' },
        success: function (response) {
          $('#data').html(response)
        }
      })
    }
  })

  // Load expenses on page load
  $(document).ready(function () {
    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      dataType: 'html',
      data: { 'x': 'expenses', csrfmiddlewaretoken: '{{csrf_token}}' },
      success: function (response) {
        $('#data').html(response)
      }
    })
  })

  // Automatically close messages after 5 seconds
  window.setTimeout(function() {
    var alerts = document.querySelectorAll('.alert');
    alerts.forEach(function(alert) {
      alert.classList.remove('show');
      setTimeout(function() {
        alert.remove();
      }, 1000); // Remove the alert from the DOM after fading out
    });
  }, 5000); // Delay for 5 seconds before closing the alert
</script>

{% endblock %}