{% extends 'main_layout.html' %}

{% block 'content' %}

{% if messages %}
<div class="alert alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {% if 'success' in message.tags %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif 'error' in message.tags %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}

{% if edit %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Expenses</h4>
        <p class="card-description">
          Edit the information in the cells
        </p>
        <form method="post" action="{% url 'expens_update' edit.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label>Edit expens title</label>
            <input type="text" name="assignment" value="{{edit.assignment}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit amount</label>
            <input type="text" name="amount" value="{{edit.amount}}" class="form-control"><br>
          </div>
          <button type="submit" name="update" class="btn btn-primary text-white">Update</button>
          <a href="{% url 'expens' %}"><button type="button" class="btn btn-danger text-white">Cancel</button></a>
        </form>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add expenses</h4>
        <p class="card-description">
          Fill in the blanks
        </p>
        <form method="post" class="forms-sample">
          {% csrf_token %}
          <div class="form-group">
            <label>Expense title</label>
            <input type="text" class="form-control" placeholder="Expense title" name="assignment">
          </div>
          <div class="form-group">
            <label>Amount</label>
            <input type="text" class="form-control" placeholder="Amount" name="amount">
          </div>
          <button name="save" class="btn btn-primary text-white">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="alert alert-primary" role="alert">
 <center>
   <b>Expenses: </b> {{expens_num}} |
 </center>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Expenses Table</h4>

        <div class="table-responsive">
          <form method="post" action="#table">
            {% csrf_token %}
            <table class="table table-striped" id="table">

              <thead>
                <th>#</th>
                <th>
                  Assignments
                  {% if request.POST.order == 'a' %}
                  <button class="btn btn-link btn-sm" name="order" value="b"><i
                      class="mdi mdi-sort-alphabetical"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="a"><i
                      class="mdi mdi-sort-alphabetical"></i></button>
                  {% endif %}
                </th>
                <th>
                  Amount
                  {% if request.POST.order == 'c' %}
                  <button class="btn btn-link btn-sm" name="order" value="d"><i
                      class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="c"><i
                      class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                </th>
                <th>
                  Date
                  {% if request.POST.order == 'e' %}
                  <button class="btn btn-link btn-sm" name="order" value="f"><i
                      class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="e"><i
                      class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                </th>
                <th>Actions</th>
                <th><button class="btn btn-danger btn-sm text-white" name="delete_all">Delete selected</button></th>
              </thead>

              <tbody>
                {% for info in data %}
                <tr>
                  <td>
                    <div class="form-check form-check-info">
                      <label class="form-check-label">
                        <input type="checkbox" {% if info.id|floatformat:'0' in del_all %} checked {% endif %}
                          name="x[]" value="{{info.id}}"> {{forloop.counter}}
                      </label>
                    </div>
                  </td>
                  <td>{{info.assignment}}</td>
                  <td>{{info.amount}}</td>
                  <td>{{info.add_date | date:'d-m-Y'}}</td>
                  <td>
                    <a class="btn btn-danger btn-round btn-md delete" id="{{info.id}}" href="#table" title="Delete"><i
                        class="mdi mdi-delete"></i></a>
                    <a class="btn btn-warning btn-round btn-md" href="{% url 'expens_edit' info.id %}" title="Edit"><i
                        class="mdi mdi-grease-pencil"></i></a>
                  </td>
                  <td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="data"></div>
<script>
  $(document).on('click', '.insert', function(){
    let form = $('#insert_brand')[0]
    let data = new FormData(form)

    $.ajax({
      type: 'GET',
      url: '{% url "loader" %}',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function(response){
        $('#data').html(response)
      }
    })
  })

  $(document).on('click', '.delete', function () {
    let id = $(this).attr('id')
    let section = 'expenses'

    if (confirm("Do you want to delete?")) {
      $.ajax({
        method: 'GET',
        url: '{% url "loader"%}',
        data: { del_expense: id, section: section, csrfmiddlewaretoken: '{{csrf_token}}' },
        success: function (response) {
          $('#data').html(response)
        }
      })
    }
  })

  $(document).ready(function () {
    let section = 'expenses'
    
    $.ajax({
      type: 'GET',
      url: '{% url "loader"%}',
      data: { section : section, csrfmiddlewaretoken: '{{csrf_token}}' },
      dataType: 'html',
      success: function (response) {
        $('#data').html(response)
      }
    })
  })
</script>

{% endblock %}