<!--Brand AJAX-->
{% if request.GET.section == 'brands' or request.POST.section == 'brands' %}

<!--
{% if brand %}
<div class="alert alert-danger" role="alert">
  Do you want to delete brand? <br><b>{{brand.brand_name}}</b><br><br>
  <a class="btn btn-success text-white delete" id="{{brand.id}}" href="#table">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'brand' %}">No</a><br>
</div>
{% endif %}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want to delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button><br>
  </form>
</div>
{% endif %}
<!--Brand AJAX end-->

<!--Client AJAX-->
{% elif request.GET.section == 'clients' or request.POST.section == 'clients' %}

<!--
{% if client %}
<div class="alert alert-danger" role="alert">
  Do you want to delete? <br><b>{{client.name}} {{client.surname}}</b><br><br>
  <a class="btn btn-success text-white" href="{% url 'client_delete_config' client.id %}">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'client' %}">No</a>
</div>
{% endif %}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want to delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success" name="confirm_delete_all text-white">Yes</button>
    <button class="btn btn-danger text-white">No</button><br>
  </form>
</div>
{% endif %}
<!--Client AJAX end-->

<!--Expens AJAX-->
{% elif request.GET.section == 'expenses' or request.POST.section == 'expenses' %}

<!--
{% if client %}
<div class="alert alert-danger" role="alert">
  Do you want to delete? <br><b>{{client.name}} {{client.surname}}</b><br><br>
  <a class="btn btn-success text-white" href="{% url 'client_delete_config' client.id %}">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'client' %}">No</a>
</div>
{% endif %}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want to delete all selected items</b>?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button><br>
  </form>
</div>
{% endif %}
<!--Expens AJAX End-->

<!--Product AJAX-->
{% elif request.GET.section == 'products' or request.POST.section == 'products' %}

<!--
{% if products %}
<div class="alert alert-danger" role="alert">
  Do you want to delete: <b>{{products.brand.brand_name}} {{products.product}}</b>?<br>
  <a class="btn btn-success text-white" href="{% url 'products_delete_config' products.id %}">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'products' %}">No</a><br>
</div>
{% endif %}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want to delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button>
  </form>
</div>
{% endif %}
<!--Products AJAX End-->

<!--Orders AJAX-->
{% elif request.GET.section == 'orders' or request.POST.section == 'orders' %}

<!--
{% if orders %}
<div class="alert alert-danger" role="alert">
  Do you want to delete? <b>{{orders.client.name}} {{orders.client.surname}} - {{orders.product.brand.brand_name}} -
    {{orders.product.product}} [{{orders.amount}}]</b><br>
  <a class="btn btn-success text-white" href="{% url 'orders_delete_config' orders.id %}">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'orders' %}">No</a><br>
</div>
{% endif %}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want to delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button>
  </form>
</div>
{% endif %}
<!--Orders AJAX end-->

<!--Supplier AJAX-->
{% elif request.GET.section == 'suppliers' or request.POST.section == 'suppliers' %}

<!--
{% if supplier %}
<div class="alert alert-danger" role="alert">
    Do you want to delete supplier? <br><b>{{supplier.supplier_name}}</b><br><br>
    <a class="btn btn-success text-white" href="{% url 'delete_config' supplier.id %}">Yes</a>
    <a class="btn btn-danger text-white" href="{% url 'supplier' %}">No</a><br>
</div>
{% endif %}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want delete all selected?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger">No</button>
  </form>
</div>
{% endif %}
<!--Supplier Ajax end-->

<!--Departments AJAX-->
{% elif request.GET.section == 'departments' or request.POST.section == 'departments' %}

<!--
{% if departments %}
<div class="alert alert-danger" role="alert">
  Do you want to delete department? <br><b>{{departments.department_name}}</b><br><br>
  <a class="btn btn-success text-white" href="{% url 'department_del_conf' departments.id %}">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'departments' %}">No</a><br>
</div>
{% endif %}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button>
  </form>
</div>
{% endif %}
<!--Departments AJAX end-->

<!--Positions AJAX-->
{% elif request.GET.section == 'positions' or request.POST.section == 'positions' %}

<!--
{% if positions %}
<div class="alert alert-danger" role="alert">
  Do you want to delete? <b>{{department_obj.department_name}} {{position_name}}</b><br>
  <a class="btn btn-success text-white" href="{% url 'position_del_conf' positions.id %}">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'positions' %}">No</a><br>
</div>
{% endif %}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want to delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button>
  </form>
</div>
{% endif %}
<!--Positions AJAX end-->

<!--Staff AJAX-->
{% elif request.GET.section == 'staffs' or request.POST.section == 'staffs' %}

<!--
{%if staff%}
<div class="alert alert-danger" role="alert">
  Do you want to delete? <b>{{staff.name}} {{staff.surname}} - {{staff.pos_id.dep_id.department_name}} -
    {{staff.pos_id.positions}} [{{staff.sallary}}]</b><br>
  <a class="btn btn-success text-white" href="{% url 'staff_del_conf' staff.id %}">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'staff' %}">No</a><br>
</div>
{%endif%}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button>
  </form>
</div>
{% endif %}
<!--Staff AJAX end-->

<!--Documents AJAX-->
{% elif request.GET.section == 'documents' or request.POST.section == 'documents' %}

<!--
{% if doc and staff %}
<div class="alert alert-danger" role="alert">
  Do you want to delete? <b>{{staff.name}} {{staff.surname}} - {{doc.title}} {{doc.doc_num}} </b><br>
  <a class="btn btn-success text-white" href="{% url 'doc_del_conf' doc.id %}">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'documents' staf_id=staff.id %}">No</a>
</div>
{% endif %}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want to delete selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button>
  </form>
</div>
{% endif %}

<!--Documents AJAX end-->

<!--Assignments AJAX-->

<!--
{% if assignment %}
<div class="alert alert-danger" role="alert">
    Do you want to delete assignment?<b>{{assignment.assignment_name}}</b><br>
    <a class="btn btn-success text-white" href="{% url 'assignment_del_conf' assignment.id %}">Yes</a>
    <a class="btn btn-danger text-white" href="{% url 'assignments' %}">No</a>
</div>
{% endif %}
-->

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want to delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button><br>
  </form>
</div>
{% endif %}

<!--Assignments AJAX end-->
{% endif %}