{% extends 'main_layout.html' %}

{% block 'content' %}

{% if messages %}
<div class="alert alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {% if 'success' in message.tags %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif 'error' in message.tags %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif 'warning' in message.tags %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}

{% if edit %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Orders</h4>
        <p class="card-description">
          Edit the information in the cells
        </p>
        <form method="post" action="{% url 'orders_update' edit.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label>Edit client</label>
            <select name="client_id" class="form-control">
              <option value="">Choose the client</option>
              {% for client_obj in client %}
              <option {% if edit.client.id == client_obj.id %} selected {% endif %} value="{{client_obj.id}}">{{client_obj.name}}
                {{client_obj.surname}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label>Edit product</label>
            <select name="product_id" class="form-control">
              <option value="">Choose the product</option>
              {% for product_obj in product %}
              <option {% if edit.product.id == product_obj.id %} selected {% endif %} value="{{product_obj.id}}">
                {{product_obj.brand.brand_name}} - {{product_obj.product}} [{{product_obj.quantity}}]</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label>Edit "amount" of product</label>
            <input type="text" class="form-control" placeholder="Edit amount of product" name="amount" value="{{edit.amount}}"><br>
            <button name="update" class="btn btn-primary text-white">Update</button>
            <a href="{% url 'orders' %}"><button type="button" class="btn btn-danger text-white">Cancel</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add order</h4>
        <p class="card-description">
          Fill in the blanks
        </p>
        <form method="post" class="forms-sample">
          {% csrf_token %}
          <div class="form-group">
            <label>Client</label>
            <select name="client_id" class="form-control">
              <option value="">Choose the client...</option>
              {% for client_obj in client %}
              <option value="{{client_obj.id}}">{{client_obj.name}} {{client_obj.surname}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label>Product</label>
            <select name="product_id" class="form-control">
              <option value="">Choose the product...</option>
              {% for product_obj in product %}
              <option value="{{product_obj.id}}">{{product_obj.brand.brand_name}} - {{product_obj.product}}
                [{{product_obj.quantity}}]</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label>Product "amount"</label>
            <input type="text" class="form-control" placeholder="Product amount" name="amount"><br>
            <button name="enter" class="btn btn-primary text-white">Enter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% if orders %}
<div class="alert alert-danger" role="alert">
  Do you want to delete? <b>{{orders.client.name}} {{orders.client.surname}} - {{orders.product.brand.brand_name}} -
    {{orders.product.product}} [{{orders.amount}}]</b><br>
  <a class="btn btn-success text-white" href="{% url 'orders_delete_config' orders.id %}">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'orders' %}">No</a><br>
</div>
{% endif %}

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want to delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button>
  </form>
</div>
{% endif %}

{% endif %}

<div class="alert alert-primary" role="alert">
  <center>
    <b>Clients: </b> {{client_num}} |
    <b>Brands: </b> {{brand_num}} |
    <b>Products: </b> {{product_num}} |
    <b>Buy: </b> | 
    <b>Sell: </b> | 
    <b>Expenses: </b> | {{expens_num}}
    <b>Profit: </b> | {{profit_total}}
    <b>Real profit: </b> |
  </center>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Orders Table</h4>
        <div class="table-responsive">
          <form method="post" action="#table">
            {% csrf_token %}
            <table class="table table-striped" id="table">

              <thead>
                <th>#</th>
                <th>
                  Client
                  {% if request.POST.order == 'a' %}
                  <button class="btn btn-link btn-sm" name="order" value="b"><i class="mdi mdi-sort-alphabetical"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="a"><i class="mdi mdi-sort-alphabetical"></i></button>
                  {% endif %}
                </th>
                <th>
                  Brand
                  {% if request.POST.order == 'c' %}
                  <button class="btn btn-link btn-sm" name="order" value="d"><i class="mdi mdi-sort-alphabetical"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="c"><i class="mdi mdi-sort-alphabetical"></i></button>
                  {% endif %}
                </th>
                <th>
                  Products
                  {% if request.POST.order == 'e' %}
                  <button class="btn btn-link btn-sm" name="order" value="f"><i class="mdi mdi-sort-alphabetical"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="e"><i class="mdi mdi-sort-alphabetical"></i></button>
                  {% endif %}
                </th>
                <th>
                  Stock
                  {% if request.POST.order == 'g' %}
                  <button class="btn btn-link btn-sm" name="order" value="h"><i class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="g"><i class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                </th>
                <th>
                  Buy
                  {% if request.POST.order == 'i' %}
                  <button class="btn btn-link btn-sm" name="order" value="j"><i class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="i"><i class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                </th>
                <th>
                  Sell
                  {% if request.POST.order == 'k' %}
                  <button class="btn btn-link btn-sm" name="order" value="l"><i class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="k"><i class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                </th>
                <th>
                  Order
                  {% if request.POST.order == 'n' %}
                  <button class="btn btn-link btn-sm" name="order" value="m"><i class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="n"><i class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                </th>
                <th>
                  Profit
                  <!--
                  {% if request.POST.order == 'o' %}
                  <button class="btn btn-link btn-sm" name="order" value="p"><i class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="o"><i class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                  -->
                </th>
                <th>
                  Date
                  {% if request.POST.order == 'q' %}
                  <button class="btn btn-link btn-sm" name="order" value="r"><i class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="q"><i class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                </th>
                <th><button class="btn btn-inverse-danger btn-sm" name="delete_all">Delete selected</button></th>
              </thead>

              <tbody>
                {% for info in data %}
                <tr>
                  <td>
                    {% if info.tesdiq == 0 %}
                    <div class="form-check form-check-info">
                      <label class="form-check-label">
                        <input type="checkbox" {% if info.id|floatformat:'0' in del_all %} 
                          checked {% endif %} name="x[]" value="{{info.id}}">{{forloop.counter}}
                      </label>
                    </div>
                    {% else %}
                    {{forloop.counter}}
                    {% endif %}
                  </td>
                  <td>{{info.client.name}} {{info.client.surname}}</td>
                  <td>{{info.product.brand.brand_name}}</td>
                  <td>{{info.product.product}}</td>
                  <td>{{info.product.quantity}}</td>
                  <td>{{info.product.buy}}</td>
                  <td>{{info.product.sell}}</td>
                  <td>{{info.amount}}</td>
                  <td>{{info.profit}}</td>
                  <td>{{info.add_date | date:'d-m-Y'}}</td>
                  <td>
                    {% if info.tesdiq == 0 %}
                    <a class="btn btn-danger btn-md" href="{% url 'orders_delete' info.id %}" title="Delete"><i
                        class="mdi mdi-delete"></i></a>
                    <a class="btn btn-warning btn-md" href="{% url 'orders_edit' info.id %}" title="Edit"><i
                        class="mdi mdi-grease-pencil"></i></a>
                    <a class="btn btn-primary btn-md" href="{% url 'orders_tesdiq' info.id %}" title="Confirm"><i
                        class="mdi mdi-check"></i></a>
                    {% else %}
                    <a class="btn btn-danger btn-md" href="{% url 'orders_cancel' info.id %}" title="Cancel"><i
                        class="mdi mdi-delete"></i></a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}