{% extends 'main_layout.html' %}

{% block 'content' %}

<div id="data"></div>
<script>
  //Insert positions
  $(document).on('click', '.insert', function(){
    let form = $('#insert_positions')[0]
    let data = new FormData(form)
    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function(response){
        $('#data').html(response)
      }
    })
  })

  //Edit positions
  $(document).on('click', '.update', function () {
    let form = $('#edit_positions')[0]
    let data = new FormData(form)
    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (response) {
        $('#data').html(response)
      }
    })
  })
  
  $(document).on('click', '.edit', function () {
    let id = $(this).attr('id')
    $.ajax({
      method: 'POST',
      url: '{% url "loader" %}',
      data: { 'x': 'positions', 'edit_id': id, csrfmiddlewaretoken: '{{csrf_token}}' },
      success: function (response) {
        $('#data').html(response)
      }
    })
  })

  //Delete positions
  $(document).on('click', '.delete', function () {
    let id = $(this).attr('id')
    if (confirm("Do you want to delete?")) {
      $.ajax({
        method: 'POST',
        url: '{% url "loader" %}',
        data: {'x':'positions','del_id': id, csrfmiddlewaretoken: '{{csrf_token}}' },
        success: function (response) {
          $('#data').html(response)
        }
      })
    }
  })

  //Load positions on page load
  $(document).ready(function () {
    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      dataType: 'html',
      data:{'x':'positions', csrfmiddlewaretoken: '{{csrf_token}}'},
      success: function (response) {
        $('#data').html(response)
      }
    })
  })
</script>

{% endblock %}