{% extends 'main_layout.html' %}

{% block 'content' %}

<div id="data"></div>
<script>
  $(document).on('click', '.insert', function(){
    let form = $('#insert_positions')[0]
    let data = new FormData(form)

    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function(response){
        $('#data').html(response)
      }
    })
  })

  $(document).on('click', '.delete', function () {
    let id = $(this).attr('id')

    if (confirm("Do you want to delete?")) {
      $.ajax({
        method: 'POST',
        url: '{% url "loader" %}',
        data: {'x':'positions','del_id': id, csrfmiddlewaretoken: '{{csrf_token}}' },
        success: function (response) {
          $('#data').html(response)
        }
      })
    }
  })

  $(document).ready(function () {
    
    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      dataType: 'html',
      data:{'x':'positions', csrfmiddlewaretoken: '{{csrf_token}}'},
      success: function (response) {
        $('#data').html(response)
      }
    })
  })
</script>

{% endblock %}