{% extends 'layout.html' %}

{% block 'content' %}

{% if messages %}
<div class="alert alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {% if 'success' in message.tags %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif 'error' in message.tags %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif 'warning' in message.tags %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}

{% if edit %}
<div class="alert alert-primary" role="alert">
  <h1>Staff</h1>
  <form method="post" enctype="multipart/form-data" action="{% url 'staff_update' edit.id %}">
    {%csrf_token%}
    Positions:
    <select name="position_id" class="form-control">
      <option value="">Choose position...</option>
      {% for position_obj in positions %}
      {% if position_obj.id == edit.pos_id_id %}
      <option selected value="{{position_obj.id}}">{{position_obj.dep_id.department_name}} / {{position_obj.positions}}
      </option>
      {% else %}
      <option value="{{position_obj.id}}">{{position_obj.dep_id.department_name}} / {{position_obj.positions}}</option>
      {% endif %}
      {%endfor%}
    </select>
    Name:
    <input type="text" name="s_name" value="{{edit.name}}" class="form-control">
    Surname:
    <input type="text" name="s_surname" value="{{edit.surname}}" class="form-control">
    Birth Date:
    <input type="date" name="s_birth_d" value="{{edit.birth_date | date:'Y-m-d'}}" class="form-control">
    E-mail:
    <input type="email" name="s_email" value="{{edit.email}}" class="form-control">
    Phone:
    <input type="text" name="s_phone" value="{{edit.phone}}" class="form-control">
    Sallary:
    <input type="number" name="s_sallary" value="{{edit.sallary}}" class="form-control">
    Job Start Date:
    <input type="date" name="s_start_d" value="{{edit.j_start_d | date:'Y-m-d'}}" class="form-control">
    Photo:<br>
    <img style="width: 70px; height: 60;" src="{{edit.photo}}">
    <input type="file" name="photo" class="form-control"><br>
    <button name="update" class="btn btn-primary">Update</button>
    <a href="{%url 'staff'%}"><button type="button" class="btn btn-danger">Cancel</button></a>
  </form>
</div>

{%else%}
<div class="alert alert-primary" role="alert">
  <h1>Staff</h1>
  <form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    Positions:
    <select name="position_id" class="form-control">
      <option value="">Choose position...</option>
      {%for position_obj in positions%}
      <option value="{{position_obj.id}}">{{position_obj.dep_id.department_name}} / {{position_obj.positions}}</option>
      {%endfor%}
    </select>
    Name:
    <input type="text" name="s_name" class="form-control">
    Surname:
    <input type="text" name="s_surname" class="form-control">
    Birth Date:
    <input type="date" name="s_birth_d" class="form-control">
    E-mail:
    <input type="email" name="s_email" class="form-control">
    Phone:
    <input type="text" name="s_phone" class="form-control">
    Sallary:
    <input type="number" name="s_sallary" class="form-control">
    Job Start Date:
    <input type="date" name="s_start_d" class="form-control">
    Photo:
    <input type="file" name="photo" class="form-control"><br>
    <button name="add" class="btn btn-primary">Add</button>
  </form>
</div>

{%if staff%}
<div class="alert alert-danger" role="alert">
  Do you want to delete: <b>{{staff.name}} {{staff.surname}} - {{staff.pos_id.dep_id.department_name}} -
    {{staff.pos_id.positions}} [{{staff.sallary}}]</b>?<br>
  <a class="btn btn-success" href="{% url 'staff_del_conf' staff.id %}">Yes</a>
  <a class="btn btn-danger" href="{% url 'staff' %}">No</a><br>
</div>
{%endif%}

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger">No</button>
  </form>
</div>
{% endif %}

{% endif %}

<form method="post">
  {% csrf_token %}
  <table class="table table-success table-striped" id="table">

    <thead>
      <th>#</th>
      <th>Photo</th>
      <th>
        Name
        {% if request.POST.order == 'a' %}
        <button class="btn btn-link btn-sm" name="order" value="b"><i class="bi bi-sort-alpha-down-alt"></i></button>
        {% else %}
        <button class="btn btn-link btn-sm" name="order" value="a"><i class="bi bi-sort-alpha-down"></i></button>
        {% endif %}
      </th>
      <th>
        Surname
        {% if request.POST.order == 'c' %}
        <button class="btn btn-link btn-sm" name="order" value="d"><i class="bi bi-sort-alpha-down-alt"></i></button>
        {% else %}
        <button class="btn btn-link btn-sm" name="order" value="c"><i class="bi bi-sort-alpha-down"></i></button>
        {% endif %}
      </th>
      <th>
        Birthdate
        {% if request.POST.order == 'e' %}
        {% else %}
        {% endif %}
      </th>
      <th>
        Departments
        {% if request.POST.order == '' %}
        {% else %}
        {% endif %}
      </th>
      <th>
        Positions
        {% if request.POST.order == ''}
        {% else %}
        {% endif %}
      </th>
      <th>
        Email
        {% if request.POST.order == 'g'}
        {% else %}
        {% endif %}
      </th>
      <th>
        Phone
        {% if request.POST.order == 'j' %}
        {% else %}
        {% endif %}
      </th>
      <th>
        Sallary
        {% if request.POST.order == 'k' %}
        {% else %}
        {% endif %}
      </th>
      <th>
        Start Date

      </th>
      <th><button class="btn btn-danger btn-sm" name="delete_all">Delete selected</button> </th>
    </thead>

    <tbody>
      {%for info in data %}
      <tr>
        <td>
          <input type="checkbox" {% if info.id|floatformat:'0' in del_all %} checked {% endif %} name="x[]"
            value="{{info.id}}">{{forloop.counter}}
        </td>
        <td><img style="width: 50px; height: 60px;" src="{{info.photo}}"></td>
        <td>{{info.name}}</td>
        <td>{{info.surname}}</td>
        <td>{{info.birth_date | date:'d.m.Y'}}</td>
        <td>{{info.pos_id.dep_id.department_name}}</td>
        <td>{{info.pos_id.positions}}</td>
        <td>{{info.email}}</td>
        <td>{{info.phone}}</td>
        <td>{{info.sallary}}</td>
        <td>{{info.j_start_d | date:'d.m.Y'}}</td>
        <td>
          <a class="btn btn-danger btn-sm" href="{%url 'staff_delete' info.id%}" title="Delete"><i
              class="bi bi-x"></i></a>
          <a class="btn btn-warning btn-sm" href="{%url 'staff_edit' info.id%}" title="Edit"><i
              class="bi bi-pencil"></i></a>
          <a class="btn btn-primary btn-sm" href="{%url 'documents' info.id%}" title="documents"><i
              class="bi bi-filetype-doc"></i></a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</form>
{% endblock %}