{% extends 'main_layout.html' %}

{% block 'content' %}

{% if messages %}
<div class="alert alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {% if 'success' in message.tags %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif 'error' in message.tags %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif 'warning' in message.tags %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}

{% if edit %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Staff</h4>
        <p class="card-description">
          Edit the information in the cells
        </p>
        <form method="post" enctype="multipart/form-data" action="{% url 'staff_update' edit.id %}">
          {%csrf_token%}
          <div class="form-group">
            <label>Edit positions</label>
            <select name="position_id" class="form-control">
              <option value="">Choose position...</option>
              {% for position_obj in positions %}
              {% if position_obj.id == edit.pos_id_id %}
              <option selected value="{{position_obj.id}}">{{position_obj.dep_id.department_name}} /
                {{position_obj.positions}}
              </option>
              {% else %}
              <option value="{{position_obj.id}}">{{position_obj.dep_id.department_name}} / {{position_obj.positions}}
              </option>
              {% endif %}
              {%endfor%}
            </select>
          </div>
          <div class="form-group">
            <label>Edit name</label>
            <input type="text" name="s_name" value="{{edit.name}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit surnme</label>
            <input type="text" name="s_surname" value="{{edit.surname}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit birth date</label>
            <input type="date" name="s_birth_d" value="{{edit.birth_date | date:'Y-m-d'}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit e-mail</label>
            <input type="email" name="s_email" value="{{edit.email}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit phone</label>
            <input type="text" name="s_phone" value="{{edit.phone}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit sallary</label>
            <input type="number" name="s_sallary" value="{{edit.sallary}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit job start date</label>
            <input type="date" name="s_start_d" value="{{edit.j_start_d | date:'Y-m-d'}}" class="form-control">
          </div>
          <div class="form-group">
            <label>File upload</label>
            <input type="file" name="photo" class="file-upload-default">
            <div class="input-group col-xs-12">
              <img class="img-md rounded-circle" style="width: 70px; height: 60px;" src="{{edit.photo}}">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" name="photo">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary text-white" type="button">Upload</button>
              </span>
            </div>
          </div>
          <button type="submit" name="update" class="btn btn-primary me-2 text-white">Update</button>
          <a href="{%url 'staff'%}"><button type="button" class="btn btn-danger text-white">Cancel</button></a>
        </form>
      </div>
    </div>
  </div>
</div>

{%else%}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add staff</h4>
        <p class="card-description">
          Fill in the blanks
        </p>
        <form method="post" enctype="multipart/form-data">
          {%csrf_token%}
          <div class="form-group">
            <label>Position</label>
            <select name="position_id" class="form-control">
              <option value="">Choose position...</option>
              {%for position_obj in positions%}
              <option value="{{position_obj.id}}">{{position_obj.dep_id.department_name}} / {{position_obj.positions}}
              </option>
              {%endfor%}
            </select>
          </div>
          <div class="form-group">
            <label>Employee name</label>
            <input type="text" class="form-control" placeholder="Employee name" name="s_name">
          </div>
          <div class="form-group">
            <label>Employee surname</label>
            <input type="text" class="form-control" placeholder="Employee surname" name="s_surname">
            <div class="form-group">
              <label>Employee birth date</label>
              <input type="date" class="form-control" name="s_birth_d">
            </div>
            <div class="form-group">
              <label>Employee e-mail</label>
              <input type="email" class="form-control" placeholder="test@gmail.com" name="s_email">
            </div>
            <div class="form-group">
              <label>Employee phone</label>
              <input type="tel" class="form-control" placeholder="+9941234567" name="s_phone">
            </div>
            <div class="form-group">
              <label>Employee sallary</label>
              <input type="number" class="form-control" placeholder="1000" name="s_sallary">
            </div>
            <div class="form-group">
              <label>Employee job start date</label>
              <input type="date" class="form-control" name="s_start_d">
            </div>
            <div class="form-group">
              <label>File upload</label>
              <input type="file" name="photo" class="file-upload-default">
              <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image"
                  name="photo">
                <span class="input-group-append">
                  <button class="file-upload-browse btn btn-primary text-white" type="button">Upload</button>
                </span>
              </div>
            </div>
            <button type="submit" name="add" class="btn btn-primary me-2 text-white">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

{%if staff%}
<div class="alert alert-danger" role="alert">
  Do you want to delete? <b>{{staff.name}} {{staff.surname}} - {{staff.pos_id.dep_id.department_name}} -
    {{staff.pos_id.positions}} [{{staff.sallary}}]</b><br>
  <a class="btn btn-success text-white" href="{% url 'staff_del_conf' staff.id %}">Yes</a>
  <a class="btn btn-danger text-white" href="{% url 'staff' %}">No</a><br>
</div>
{%endif%}

{% if del_all %}
<div class="alert alert-danger" role="alert">
  Do you want delete all selected items?<br>
  <form method="post">
    {% csrf_token %}
    {% for id in del_all %}
    <input type="hidden" name="x[]" value="{{id}}">
    {% endfor %}
    <button class="btn btn-success text-white" name="confirm_delete_all">Yes</button>
    <button class="btn btn-danger text-white">No</button>
  </form>
</div>
{% endif %}

{% endif %}

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Staff Table</h4>

        <div class="table-responsive">
          <form method="post" action="#table">
            {% csrf_token %}
            <table class="table table-striped" id="table">

              <thead>
                <th>#</th>
                <th>
                  Photo
                </th>
                <th>
                  Name
                  {% if request.POST.order == 'a' %}
                  <button class="btn btn-link btn-sm" name="order" value="b"><i
                      class="mdi mdi-sort-alphabetical"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="a"><i
                      class="mdi mdi-sort-alphabetical"></i></button>
                  {% endif %}
                </th>
                <th>
                  Surname
                  {% if request.POST.order == 'c' %}
                  <button class="btn btn-link btn-sm" name="order" value="d"><i
                      class="mdi mdi-sort-alphabetical"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="c"><i
                      class="mdi mdi-sort-alphabetical"></i></button>
                  {% endif %}
                </th>
                <th>
                  Birthdate
                  {% if request.POST.order == 'e' %}
                  <button class="btn btn-link btn-sm" name="order" value="f"><i
                      class="mdi mdi-sort-alphabetical"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="e"><i
                      class="mdi mdi-sort-alphabetical"></i></button>
                  {% endif %}
                </th>
                <th>
                  Departments
                </th>
                <th>
                  Positions
                </th>
                <th>
                  Email
                  {% if request.POST.order == 'g' %}
                  <button class="btn btn-link btn-sm" name="order" value="h"><i
                      class="mdi mdi-sort-alphabetical"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="g"><i
                      class="mdi mdi-sort-alphabetical"></i></button>
                  {% endif %}
                </th>
                <th>
                  Phone
                  {% if request.POST.order == 'j' %}
                  <button class="btn btn-link btn-sm" name="order" value="i"><i
                      class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="j"><i
                      class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                </th>
                <th>
                  Sallary
                  {% if request.POST.order == 'k' %}
                  <button class="btn btn-link btn-sm" name="order" value="l"><i
                      class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="k"><i
                      class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                </th>
                <th>
                  Start Date
                  {% if request.POST.order == 'm' %}
                  <button class="btn btn-link btn-sm" name="order" value="n"><i
                      class="mdi mdi-sort-numeric"></i></button>
                  {% else %}
                  <button class="btn btn-link btn-sm" name="order" value="m"><i
                      class="mdi mdi-sort-numeric"></i></button>
                  {% endif %}
                </th>
                <th><button class="btn btn-danger btn-sm text-white" name="delete_all">Delete selected</button> </th>
              </thead>

              <tbody>
                {%for info in data %}
                <tr>
                  <td>
                    <div class="form-check form-check-info">
                      <label class="form-check-label">
                        <input type="checkbox" {% if info.id|floatformat:'0' in del_all %} checked {% endif %}
                          name="x[]" value="{{info.id}}">{{forloop.counter}}
                      </label>
                    </div>
                  </td>
                  <td><img style="width: 50px; height: 60px;" src="{{info.photo}}"></td>
                  <td>{{info.name}}</td>
                  <td>{{info.surname}}</td>
                  <td>{{info.birth_date | date:'d.m.Y'}}</td>
                  <td>{{info.pos_id.dep_id.department_name}}</td>
                  <td>{{info.pos_id.positions}}</td>
                  <td>{{info.email}}</td>
                  <td>{{info.phone}}</td>
                  <td>{{info.sallary}}</td>
                  <td>{{info.j_start_d | date:'d.m.Y'}}</td>
                  <td>
                    <a class="btn btn-danger btn-sm" href="{%url 'staff_delete' info.id%}" title="Delete"><i
                        class="mdi mdi-delete"></i></a>
                    <a class="btn btn-warning btn-sm" href="{%url 'staff_edit' info.id%}" title="Edit"><i
                        class="mdi mdi-grease-pencil"></i></a>
                    <a class="btn btn-primary btn-sm" href="{%url 'documents' info.id%}" title="documents"><i
                        class="mdi mdi-account-card-details"></i></a>
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}