{% extends 'main_layout.html' %}

{% block 'content' %}

{% if edit %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Staff</h4>
        <p class="card-description">
          Edit the information in the cells
        </p>
        <form method="post" enctype="multipart/form-data" action="{% url 'staff_update' edit.id %}">
          {%csrf_token%}
          <div class="form-group">
            <label>Edit positions</label>
            <select name="position_id" class="form-control">
              <option value="">Choose position...</option>
              {% for position_obj in positions %}
              {% if position_obj.id == edit.pos_id_id %}
              <option selected value="{{position_obj.id}}">{{position_obj.dep_id.department_name}} /
                {{position_obj.positions}}
              </option>
              {% else %}
              <option value="{{position_obj.id}}">{{position_obj.dep_id.department_name}} / {{position_obj.positions}}
              </option>
              {% endif %}
              {%endfor%}
            </select>
          </div>
          <div class="form-group">
            <label>Edit name</label>
            <input type="text" name="s_name" value="{{edit.name}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit surnme</label>
            <input type="text" name="s_surname" value="{{edit.surname}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit birth date</label>
            <input type="date" name="s_birth_d" value="{{edit.birth_date | date:'Y-m-d'}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit e-mail</label>
            <input type="email" name="s_email" value="{{edit.email}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit phone</label>
            <input type="text" name="s_phone" value="{{edit.phone}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit sallary</label>
            <input type="number" name="s_sallary" value="{{edit.sallary}}" class="form-control">
          </div>
          <div class="form-group">
            <label>Edit job start date</label>
            <input type="date" name="s_start_d" value="{{edit.j_start_d | date:'Y-m-d'}}" class="form-control">
          </div>
          <div class="form-group">
            <label>File upload</label>
            <input type="file" name="photo" class="file-upload-default">
            <div class="input-group col-xs-12">
              <img class="img-md rounded-circle" style="width: 70px; height: 60px;" src="{{edit.photo}}">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" name="photo">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary text-white" type="button">Upload</button>
              </span>
            </div>
          </div>
          <button type="submit" name="update" class="btn btn-primary me-2 text-white">Update</button>
          <a href="{%url 'staff'%}"><button type="button" class="btn btn-danger text-white">Cancel</button></a>
        </form>
      </div>
    </div>
  </div>
</div>

{%else%}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add staff</h4>
        <p class="card-description">
          Fill in the blanks
        </p>
        <form method="post" enctype="multipart/form-data">
          {%csrf_token%}
          <div class="form-group">
            <label>Position</label>
            <select name="position_id" class="form-control">
              <option value="">Choose position...</option>
              {%for position_obj in positions%}
              <option value="{{position_obj.id}}">{{position_obj.dep_id.department_name}} / {{position_obj.positions}}
              </option>
              {%endfor%}
            </select>
          </div>
          <div class="form-group">
            <label>Employee name</label>
            <input type="text" class="form-control" placeholder="Employee name" name="s_name">
          </div>
          <div class="form-group">
            <label>Employee surname</label>
            <input type="text" class="form-control" placeholder="Employee surname" name="s_surname">
            <div class="form-group">
              <label>Employee birth date</label>
              <input type="date" class="form-control" name="s_birth_d">
            </div>
            <div class="form-group">
              <label>Employee e-mail</label>
              <input type="email" class="form-control" placeholder="test@gmail.com" name="s_email">
            </div>
            <div class="form-group">
              <label>Employee phone</label>
              <input type="tel" class="form-control" placeholder="+9941234567" name="s_phone">
            </div>
            <div class="form-group">
              <label>Employee sallary</label>
              <input type="number" class="form-control" placeholder="1000" name="s_sallary">
            </div>
            <div class="form-group">
              <label>Employee job start date</label>
              <input type="date" class="form-control" name="s_start_d">
            </div>
            <div class="form-group">
              <label>File upload</label>
              <input type="file" name="photo" class="file-upload-default">
              <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image"
                  name="photo">
                <span class="input-group-append">
                  <button class="file-upload-browse btn btn-primary text-white" type="button">Upload</button>
                </span>
              </div>
            </div>
            <button type="submit" name="add" class="btn btn-primary me-2 text-white">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div id="data"></div>
<script>
  $(document).on('click', '.insert', function(){
    let form = $('#insert_brand')[0]
    let data = new FormData(form)

    $.ajax({
      type: 'GET',
      url: '{% url "loader" %}',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function(response){
        $('#data').html(response)
      }
    })
  })

  $(document).on('click', '.delete', function () {
    let id = $(this).attr('id')
    let section = 'staffs'

    if (confirm("Do you want to delete?")) {
      $.ajax({
        method: 'GET',
        url: '{% url "loader"%}',
        data: { del_staff: id, section: section, csrfmiddlewaretoken: '{{csrf_token}}' },
        success: function (response) {
          $('#data').html(response)
        }
      })
    }
  })

  $(document).ready(function () {
    let section = 'staffs'
    
    $.ajax({
      type: 'GET',
      url: '{% url "loader"%}',
      data: { section : section, csrfmiddlewaretoken: '{{csrf_token}}' },
      dataType: 'html',
      success: function (response) {
        $('#data').html(response)
      }
    })
  })
</script>

{% endblock %}