{% extends 'main_layout.html' %}

{% block 'content' %}

{% if edit %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Suppliers</h4>
                <p class="card-description">
                    Edit the information in the cells
                </p>
                <form method="post" action="{% url 'supplier_update' edit.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group col-xs-12">
                            <label>File upload</label>
                            <img class="img-md rounded-circle" style="width: 70px; height: 60px;"
                                src="{{edit.supplier_photo}}">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image"
                                name="sup_photo">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary text-white"
                                    type="button">Upload</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Edit supplier name</label>
                        <input type="text" class="form-control" placeholder="Supplier name" name="sup_name"
                            value="{{edit.supplier_name}}">
                    </div>
                    <div class="form-group">
                        <label>Edit supplier surname</label>
                        <input type="text" class="form-control" placeholder="Supplier surname" name="sup_surname"
                            value="{{edit.supplier_surname}}">
                    </div>
                    <div class="form-group">
                        <label>Edit supplier surname</label>
                        <input type="text" class="form-control" placeholder="Company name" name="sup_comp_name"
                            value="{{edit.supplier_company_name}}">
                    </div>
                    <div class="form-group">
                        <label>Edit e-mail</label>
                        <input type="email" class="form-control" placeholder="E-mail" name="supp_email"
                            value="{{edit.supplier_email}}">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="tel" class="form-control" placeholder="+9941234567" name="supp_phone"
                            value="{{edit.supplier_phone}}">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Address" name="supp_address"
                            value="{{edit.supplier_address}}">
                    </div>
                    <button name="update" class="btn btn-primary me-2 text-white">Update</button>
                    <a href="{% url 'supplier' %}"><button type="button"
                            class="btn btn-danger text-white">Cancel</button></a>
                </form>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add suppliers</h4>
                <p class="card-description">
                    Fill in the blanks
                </p>
                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Supplier name</label>
                        <input type="text" class="form-control" placeholder="Name" name="sup_name">
                    </div>
                    <div class="form-group">
                        <label>Supplier surname</label>
                        <input type="text" class="form-control" placeholder="Surname name" name="sup_surname">
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input type="text" class="form-control" placeholder="Company" name="sup_comp_name">
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input type="email" class="form-control" placeholder="e-mail" name="supp_email">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="tel" class="form-control" placeholder="+9941234567" name="supp_phone">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Address" name="supp_address">
                    </div>
                    <div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="sup_photo" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled
                                placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary text-white"
                                    type="button">Upload</button>
                            </span>
                        </div>
                    </div>
                    <button name="save" class="btn btn-primary me-2 text-white">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-primary" role="alert">
    <center>
        <b>Supplier: </b> {{supplier_num}} |
        <b>Products: </b> {{product_num}} |
        <b>Orders: </b> {{orders_num}} |
    </center>
</div>

<div id="data"></div>
<script>
  $(document).on('click', '.delete', function () {
    let id = $(this).attr('id')
    let section = 'suppliers'

    if (confirm("Do you want to delete?")) {
      $.ajax({
        method: 'GET',
        url: '{% url "loader" %}',
        data: { del_supplier: id, section: section, csrfmiddlewaretoken: '{{csrf_token}}' },
        success: function (response) {
          $('#data').html(response)
        }
      })
    }
  })

  $(document).ready(function () {
    let section = 'suppliers'

    $.ajax({
      type: 'GET',
      url: '{% url "loader" %}',
      data: {section : section},
      dataType: 'html',
      success: function (response) {
        $('#data').html(response)
      }
    })
  })
</script>

{% endif %}

{% endblock %}