{% extends 'main_layout.html' %}

{% block 'content' %}

<div id="data"></div>
<script>
  //Insert suppliers
  $(document).on('click', '.insert', function () {
    let form = $('#insert_supplier')[0]
    let data = new FormData(form)
    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (response) {
        $('#data').html(response)
      }
    })
  })

  //Edit suppliers
  $(document).on('click', '.update', function () {
    let form = $('#edit_suppliers')[0]
    let data = new FormData(form)
    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (response) {
        $('#data').html(response)
      }
    })
  })

  $(document).on('click', '.edit', function () {
    let id = $(this).attr('id')
    $.ajax({
      method: 'POST',
      url: '{% url "loader" %}',
      data: { 'x': 'edit_id', 'edit_id': id, csrfmiddlewaretoken: '{{csrf_token}}' },
      success: function (response) {
        $('#data').html(response)
      }
    })
  })

  //Delete supliers
  $(document).on('click', '.delete', function () {
    let id = $(this).attr('id')
    if (confirm("Do you want to delete?")) {
      $.ajax({
        method: 'POST',
        url: '{% url "loader" %}',
        data: { 'x': 'suppliers', 'del_id': id, csrfmiddlewaretoken: '{{csrf_token}}' },
        success: function (response) {
          $('#data').html(response)
        }
      })
    }
  })

  //Load suppliers on page load
  $(document).ready(function () {
    $.ajax({
      type: 'POST',
      url: '{% url "loader" %}',
      dataType: 'html',
      data: { 'x': 'suppliers', csrfmiddlewaretoken: '{{csrf_token}}' },
      success: function (response) {
        $('#data').html(response)
      }
    })
  })
</script>

{% endblock %}